/* Photo.css */
#photo {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
  color: #e0e0e0;
}

#photo img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.message-container {
  margin: 1em 0;
}

.comments {
  text-align: left;
  border-top: 1px solid #363636;
  padding-top: 1em;
  margin-top: 2em;
}

.comments form {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #363636;
}

.comments input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #363636;
  background-color: #1f1f1f;
  color: #e0e0e0;
}

.author {
  display: flex;
  font-weight: bold;
  align-items: center;
}

.author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1em;
  border: 2px solid #d4af37; /* Dourado */
}

.comments p {
  margin: 0.5em 0;
}
