/* Footer.css */
#footer {
  background-color: #121212;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #363636;
  color: #d4af37; /* Dourado */
  text-align: center;
}

#footer p {
  font-size: 0.9em;
  color: #d4af37;
  margin: 0;
}
