/* Search.css */
#search {
  width: 50%;
  margin: 0 auto;
  padding-top: 2em;
  color: #e0e0e0;
}

#search h2 {
  text-align: center;
  color: #d4af37; /* Dourado */
}

#search .btn {
  display: block;
  max-width: 80px;
  text-align: center;
  margin: 0.5em 0 2em 0;
  background-color: #d4af37; /* Dourado */
  color: #121212;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
